<div class="whitebackground" ng-click="stopPropagate($event)">
<form class="form-horizontal" name="editform">
    <div class="form-group">
        <!-- Court name -->
        <label for="" class="control-label">球場名:</label>
        <input type="text" ng-model="currentcourt.court" placeholder="簡潔明瞭的地名">
        <!-- City -->
        <label for="" class="control-label">城市:</label>
        <input type="text" ng-model="currentcourt.city" placeholder="什麼市？">
        <input type="text" ng-model="currentcourt.district" placeholder="什麼區？">
        <label for="" class="control-label">區</label>
    </div>
        
    <!-- Hours -->
    <label for="" class="control-label">開放時間:</label>
    <div ng-repeat="courthour in currentcourt.hours track by $index">
        <p ng-show="courthour">
            {{courthour.begin}}~{{courthour.end}}
            <span class="glyphicon glyphicon-minus"
            ng-click="removeFromArray(courthour.$$hashKey, currentcourt.hours)"></span>
        </p>    
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <select class="form-control" name="court begin hour" ng-model="currentcourt.hours[index1].begin" ng-change="currentcourt.hours[index1].end = currentcourt.hours[index1].begin">
                <option value="">選擇開始時間</option>
                <option ng-repeat="hour in getHours()" value="{{hour}}">{{hour}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="court hour" ng-model="currentcourt.hours[index1].end">
                <option value="">選擇結束時間</option>
                <option ng-repeat="hour in getHours()" value="{{hour}}">{{hour}}</option>
            </select>    
        </div>
        <span class="glyphicon glyphicon-plus" ng-init="index1=0"
        ng-click="index1 = index1 + checkValue(currentcourt.hours[index1])">  
        </span>
    </div>
    <!-- Peaktime -->
    <label for="" class="control-label">尖峰:</label>
    <div ng-repeat="peaktime in currentcourt.peaktime track by $index">
        <p ng-show="peaktime">
            {{peaktime.begin}}~{{peaktime.end}}
            <span class="glyphicon glyphicon-minus"
            ng-click="removeFromArray(peaktime.$$hashKey, currentcourt.peaktime)"></span>
        </p>    
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <select class="form-control" name="court begin hour" ng-model="currentcourt.peaktime[index2].begin" ng-change="currentcourt.peaktime[index2].end = currentcourt.peaktime[index2].begin">
                <option value="">選擇開始時間</option>
                <option ng-repeat="hour in getHours()" value="{{hour}}">{{hour}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="court hour" ng-model="currentcourt.peaktime[index2].end">
                <option value="">選擇結束時間</option>
                <option ng-repeat="hour in getHours()" value="{{hour}}">{{hour}}</option>
            </select>    
        </div>
        <span class="glyphicon glyphicon-plus" ng-init="index2=0"
        ng-click="index2 = index2 + checkValue(currentcourt.peaktime[index2])">  
        </span>
    </div>  

    <div class="form-group">
        <div class="col-sm-4">
            <!-- Net -->
            <label for="" class="control-label">籃網:</label>
            <input type="text" ng-model="currentcourt.net" placeholder="有什麼樣的籃網？">
        </div>
        <div class="col-sm-4">
            <!-- Basket number -->
            <label for="" class="control-label">籃框數:</label>
            <input type="number" min="0" ng-model="currentcourt.basketnumber" placeholder="阿拉伯數字">        
        </div>
    </div>
    <!-- Floor -->
    <label for="" class="control-label">地質:</label>
    <input type="text" ng-model="currentcourt.floor" placeholder="球場地板怎麼樣？">
    <!-- Water -->
    <label for="" class="control-label">飲水機:</label>
    <input type="checkbox" ng-model="currentcourt.water.exist">
    <input ng-show="currentcourt.water.exist" type="text" ng-model="currentcourt.water.desc" placeholder="在哪裡?">
    <!-- Toilet -->
    <label for="" class="control-label">廁所:</label>
    <input type="checkbox" ng-model="currentcourt.toilet.exist">
    <input ng-show="currentcourt.toilet.exist" type="text" ng-model="currentcourt.toilet.desc" placeholder="在哪裡?">
    <!-- Celing -->
    <label for="" class="control-label">屋簷:</label>
    <input type="checkbox" ng-model="currentcourt.ceiling">
    <!-- Indoor -->
    <label for="indoor" class="control-label">是室內嗎？</label>
    <input type="checkbox" ng-model="currentcourt.indoor">
    <button ng-click="editmode(currentcourt)">好了</button>
</form>

</div>