<h2 ng-hide="enableEdit" ng-bind="markernow.title"></h2>
<div class="infoWindowContent" ng-hide="enableEdit">
	<h5>{{currentcourt.city}}<span ng-show="currentcourt.district">-{{currentcourt.district}}區</span></h5>
</div>

<!-- <form ng-show="enableEdit">
	<h2><label>
		球場名稱:&nbsp<input type="text" name="球場名稱" ng-model="markernow.title">
	</label></h2>

	<div class="infoWindowContent"><label>
		<h4>球場簡介:</h4>
		<textarea rows="3" cols="62" name="球場簡介" ng-model="markernow.content"></textarea> 
	</label></div>
</form> -->
<!-- <button class="btn-warning pull-right" 
ng-click="enableEdit = !enableEdit" 
ng-show="isAdmin && !enableEdit">編輯</button>
<button class="btn-success pull-right" 
ng-click="enableEdit = !enableEdit; finishedit(markernow)" 
ng-show="enableEdit">好了</button> -->
<button ng-show="isAdmin" class="btn-danger pull-left" ng-click="deletemarker(markernow.id)">
	<span class="glyphicon glyphicon-trash"></span>
</button>