<h2>{{currentcourt.court}}</h2>
<div class="infoWindowContent">
	<h5>{{currentcourt.city}}
		<span ng-show="currentcourt.district">-{{currentcourt.district}}</span>
		<button class="addressBtn"
		ng-init="showAddress=false" 
		ng-click="showAddress=!showAddress">
			<span class="glyphicon glyphicon-plus-sign"
			ng-class="{'glyphicon-plus-sign': !showAddress, 'glyphicon-minus-sign': showAddress}"></span>
		</button>
	</h5>
	<h5 ng-show="showAddress">{{currentcourt.address}}</h5>
</div>
<div ng-controller="ratingCtrl">
	<rating 
	ng-model="rate" 
	max="max" 
	readonly="isReadonly" 
	on-hover="hoveringOver(value)" 
	on-leave="overStar = null" 
	titles="['不要去','有瑕疵','不錯', '很好打', '極品']" 
	ng-click="sendRate(rate)"></rating>
</div>
<button ng-show="isAdmin" class="btn-danger pull-left" ng-click="deletemarker(markernow.id)">
	<span class="glyphicon glyphicon-trash"></span>
</button>