<h2>{{currentcourt.court}}</h2>
<div class="infoWindowContent">
	<h5>{{currentcourt.city}}
		<span ng-show="currentcourt.district">-{{currentcourt.district}}區</span>
		<button class="addressBtn"
		ng-init="showAddress=false" 
		ng-click="showAddress=!showAddress">
			<span class="glyphicon glyphicon-plus-sign"
			ng-class="{'glyphicon-plus-sign': !showAddress, 'glyphicon-minus-sign': showAddress}"></span>
		</button>
	</h5>
	<h5 ng-show="showAddress">{{currentcourt.address}}</h5>
</div>

<button ng-show="isAdmin" class="btn-danger pull-left" ng-click="deletemarker(markernow.id)">
	<span class="glyphicon glyphicon-trash"></span>
</button>