<div class="whitebackground" ng-click="stopPropagate($event)">
    <form class="uploadForm" ng-controller="uploadCtrl" name="form">
      Multiple files
      <div class="button" ngf-select ng-model="files" name="file" ngf-multiple="true">Select</div>
      Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
      <button class="button" type="submit" 
      ng-click="form.court_id = $parent.currentcourt._id; submit(form)">submit</button>
      <div>{{$parent.currentcourt._id}}</div>
    </form>
</div>
<!-- <div class="whitebackground" ng-click="stopPropagate($event)">
    <div ng-controller="uploadCtrl">
        <div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
        <input type="text" ng-model="id"/>
        <input type="submit" ng-click="getPicture(id)"/>
        Upload Log:
        <pre>{{log}}</pre>
        <img src="{{url}}"/>
        
        <input type="submit" ng-click="courtId(currentcourt._id)"/>
    </div>
</div>
 -->
