<!-- <div flow-init="{target: '/upload'}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message" 
		class="whitebackground" 
		ng-click="stopPropagate($event)">
	  <span class="btn" flow-btn ng-click="test($flow)">Upload File</span>

	  <ul ng-repeat="file in $flow.files track by $index">
	  	<li>{{$index+1}}-{{file.name}}<img style="height: 200px; width: 300px" class="thumbnail" flow-img="file"/></li>
	  	
	  </ul>
</div> -->
<div class="whitebackground" ng-click="stopPropagate($event)">
<div ng-controller="uploadCtrl">
	<!-- Username -->
    <!-- <input type="text" ng-model="username"></br></br>
    watching model: -->
    <div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
    <input type="text" ng-model="id"/>
    <input type="submit" ng-click="getPicture(id)"/>
    Upload Log:
    <pre>{{log}}</pre>
    <img src="{{url}}"/>
</div>
</div>
    <!-- on file change multiple:
    <div class="button" ngf-select="upload($files)" ngf-multiple="true">Select File</div>
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
    <!-- Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul> -->
