<div class="whitebackground" ng-click="stopPropagate($event)">
    <form class="uploadForm" ng-controller="uploadCtrl" name="uploadForm">
      <h2>選檔案，或拖曳檔案丟進來紅框</h2>
      <div  ngf-select ngf-drop ng-model="files" ngf-multiple="true" class="drop-box">
        <h2 class="message">丟吧</h2>  
        <div class="uploadbtn" ngf-select ng-model="files" name="courtpic" ngf-multiple="true">選檔案</div>
      </div>
      <div ngf-no-file-drop>
        不好意思，你的瀏覽器不支援此功能
      </div>
      <p class="lead" ng-show="files">上傳{{files.length}}張 
        <span>已上傳{{uploadCount}}張</span> 
      </p>
      <ul ng-repeat="file in files" class="list-group">
        <li class="list-group-item">
            <div class="media">
              <div class="pull-left" style="height: 64px; width: 64px;">
                  <img ngf-src="file" class="img-responsive media-object">
              </div>
              <div class="pull-left">
                <h4>{{file.name}}</h4>
                <p>{{file.size | bytes}}bytes</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar"
              aria-valuenow="{{log}}" aria-valuemin="0" aria-valuemax="100" style="width:{{log}}%">
                {{log}}%
              </div>
            </div>
        </li>
      </ul>
      <!-- <button ng-show="files" class="btn btn-warning pull-right" 
      ng-click="clearPreview()">淨空</button> -->
      <div class="col-md-12">
        <input class="uploadbtn"
        ng-click="uploadForm.courtId = $parent.currentcourt._id; submit(uploadForm)" 
        ng-disabled="!files"
        value="送出"/>
      </div>
      
    </form>
</div>

