<div class="container spaceFromTop">
  <div class="row">
    <div class="col-sm-12">
      <h1>個人檔案</h1>
    </div>
    <div class="col-sm-12">
      <tabset justified="true">
        <tab heading="我是誰?" ng-click="getTemplate(0)"></tab>
        <tab heading="我的球隊" ng-click="getTemplate(1)"></tab>
        <tab heading="我的比賽" ng-click="getTemplate(2)"></tab>
        <tab heading="我的目標" ng-click="getTemplate(3)"></tab>
      </tabset>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12 wrapContent">
        <div ng-show="profile" ng-include="'app/account/settings/temp/profile.html'"></div>
        <div ng-show="team" ng-include="'app/account/settings/temp/team.html'"></div>
        <div ng-show="match" ng-include="'app/account/settings/temp/match.html'"></div>
        <div ng-show="goal" ng-include="'app/account/settings/temp/goal.html'"></div>  
      </div>
    </div>
  </div>
</div>