<div class="form-inline text-center">
	<div class="form-group">
	    <label for="teamname" class="control-label">球隊名稱</label>
	    <input type="text" class="form-control" name="teamname" ng-model="formData.teamname">
	</div>
	<div class="form-group">
	    <label for="founded" class="control-label">成立日期</label>
	    <input type="date" class="form-control" name="founded" ng-model="formData.founded">
	</div>
	<div class="form-group">
	    <label for="teampic" class="control-label">球隊照片</label>
	    <div class="input-group">
		    <div ng-hide="load" type="file" class="form-control teampic" name="teampic" ng-model="picture" ngf-select="upload(picture)">選檔案</div>
		    <img ng-src="{{preview}}" class="img-responsive">
		    <span class="input-group-addon" ng-show="load">
			    <div class="loaderWrapper">
		        	<div class="loader">Loading</div>
		      	</div>
		    </span>
	    </div>
	</div>
</div>
<div class="form-group text-center">
    <label for="contact">聯絡電話</label>
    <input type="tel" class="form-control" name="contact" ng-model="formData.contact"/>
</div>
<div class="form-group text-center">
    <label for="intro">球隊簡介</label>
    <textarea type="text" class="form-control" name="intro" ng-model="formData.intro"></textarea>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="settings.member" class="btn btn-block btn-primary">
    下一步 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>