$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//Make sure everything in the site is contained
html, body {
  width: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.spaceFromTop {
  margin-top: 60px;
}

//Take out all blue border after clicking on button
button:focus {outline:0;}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/settings/setting.scss';
@import 'account/settings/temp/court/mycourt.scss';
@import 'account/settings/temp/match/match.scss';
@import 'account/settings/temp/team/temp/team.temp.scss';
@import 'admin/admin.scss';
@import 'comments/comments.scss';
@import 'courts/_bubble.scss';
@import 'courts/courts.scss';
@import 'events/events.scss';
@import 'loader/_loader.scss';
@import 'main/main.scss';
@import 'main/temp/_weatherIcon.scss';
@import 'profile/profile.scss';
@import 'searchbox/customized.scss';
@import 'searchbox/searchbox.scss';
@import 'select/customizedSelect.scss';
@import 'select/select.scss';
@import 'team/teamsignup.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector