<div class="container commentSection" ng-controller="CommentCtrl">
  <!-- <iframe width="100%" height="410" src="//www.youtube.com/embed/DcJFdCmN98s" frameborder="0"></iframe> -->
  <h1>{{userNow.name}}
  <span ng-hide="userNow.name">你</span>
  說</h1>
  <form class="comment-form" ng-submit="addComment($event)" 
  novalidate name="commentForm">
    <div class="row container">
      <div class="col-xs-1">
        <div class="avatarBox">
          <i ng-hide="userNow.avatar" class="fa fa-3x fa-user"></i>
          <img class="avatar img-rounded" ng-src="{{userNow.avatar}}" alt="{{userNow.name}}">
        </div>
      </div>
      <div class="col-xs-11">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-1x fa-quote-left"></i>
          </span>
          <input
                name="comment" 
                placeholder="跟球友分享球場狀況"
                rows="1" 
                tooltip="請先登入"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                tooltip-enable="!userNow.name"
                class="form-control" 
                ng-model="newComment" 
                ng-keydown="done=false"
                ng-keyup="done=true" 
                required>
          <div class="input-group-btn" ng-show="newComment">
            <button class="btn" type="submit" ng-disabled="commentForm.$invalid"
            ng-class="{'btn-success': done, 'btn-primary': !done}">
              <span class="glyphicon" ng-class="{'glyphicon-ok': done, 'glyphicon-pencil': !done}">
              <!-- 'glyphicon-pencil': newComment,  -->
              </span>
            </button>
            <button class="btn" ng-click="$event.preventDefault(); clear(); commentForm.$setPristine();">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <span class="input-group-addon">
            <i class="fa fa-1x fa-quote-right"></i> 
          </span>
        </div>
      </div>
      
    </div>
  </form>
  <h2>{{currentcourt.court}}球友們說</h2>
  <ul class="comment-list" infinite-scroll='comments.nextPage()' infinite-scroll-disabled='comments.busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="false" ng-class="{'commentBox': comments.comments.length}">
    <div ng-show="!comments.comments.length">
      <h1>這球場還沒有人留言，搶個頭香？</h1>
    </div>
    <li class="oneComment" ng-repeat='comment in comments.comments'>
      <div class="row">
        <div class="col-xs-1">
          <div class="avatarBox">
            <img class="avatar img-rounded" ng-src="{{comment.author.avatar}}" alt="avatar">
          </div>
        </div>
        <div class="col-xs-11">
          <div class="bubble">
          <p class="pull-right">{{comment.date | date:'short'}}</p>
            <h5>
              <a ng-href="/profile/{{comment.author._id}}">
              {{ comment.author.name }}</a>
              &nbsp說:
            </h5>
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </li>
    <!-- Show spinner when it's loading -->
    <div ng-show='comments.busy'>
      <div class="loaderWrapper">
        <div class="loader">Loading</div>
      </div>
    </div>
  </ul>
</div>