<header class="header navbar navbar-inverse navbar-fixed-top">
  <div class="nav-header" ng-controller="NavbarCtrl">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><h3 class="logo" id="mobileLogo">keepBallin</h3></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <a class="navbar-brand" href="/">
        <h3 class="logo" id="desktopLogo">keepBallin</h3>
      </a>
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">
              <span class="glyphicon {{item.icon}}"></span>{{item.title}}
            </a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right right-padding">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">註冊</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">登入</a></li>
        <li ng-show="isLoggedIn()">
          <a href="/settings" class="navbar-text">
          Hello {{ getCurrentUser().name }}
          <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>-->
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">登出</a></li>
      </ul>
    </div>
  </div>
</header>