<div>
    <div id="map" marker courts="courts" 
    map="map" markers="markers" infowindow="infowindow" editmode="editmode" 
    deletemarker="deletemarker"></div>
    <button title="定位(解除瀏覽器的封鎖才可以使用喔)" type="button" id="geolocate" class="geolocateBtn"
    ng-click="geolocate()">
    	<span class="glyphicon glyphicon-screenshot"></span>
    </button>
    <div id="districtSelect" class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    選擇區域
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li ng-repeat="district in districts"><a href="" ng-click="displayDistrict($event, district)">{{district.name}}</a></li>
	  </ul>
	</div>
	<div><button class="btn btn-primary" id="addMarker" ng-init="enable=false" ng-click="enable = !enable; enableAddMarker(enable)">{{addMode}}</button></div>
	
</div>
