/* css for google map */
#map {
    height: 100vh;
    width: 100%;
}


.infoWindowContent {
    font-size:  14px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
/* Style for geolocate button */
.geolocateBtn {
    margin-right: 18px;
    width: 50px;
    height: 50px;
    padding: 3px;
    border: 0;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.glyphicon-screenshot {
    font-size: 200%;
    color: $brand-primary;       
}
/* Geolocate button ends here */
/* Close button for panorama */
.closeBtn {
    width: 50px;
    height: 50px;
    text-align: center;
}

.glyphicon-remove{
    font-size: 200%;
    color: $brand-primary;
}
/* close button ends here */

/* District selection dropdown */
#districtSelect {
    margin-top: 80px;
}

.court-detail {
    background-color: grey;
}
.picture-area {
    text-align: center;
}
.words {
    background-color: green;
}
.editPage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
}
.whitebackground {
    background: white;
    margin: 10% auto;
    padding: 5%;
    width: 80%;
}