<div>
    <div id="map" marker 
    courts="courts"
    currentcourt="currentcourt" 
    map="map" 
    markernow="markernow"
    markers="markers" 
    infowindow="infowindow" 
    editmode="editmode" 
    finishedit="finishedit"
    deletemarker="deletemarker"
    expanded="expanded"></div>
    <button title="定位(解除瀏覽器的封鎖才可以使用喔)" type="button" id="geolocate" class="geolocateBtn"
    ng-click="geolocate()">
    	<span class="glyphicon glyphicon-screenshot"></span>
    </button>
    <!-- <div id="districtSelect" class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    選擇區域
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li ng-repeat="district in districts"><a href="" ng-click="displayDistrict($event, district)">{{district.name}}</a></li>
	  </ul>
	</div> -->
	<!-- <button class="btn btn-primary" id="addMarker" ng-init="enable=false" ng-show="isAdmin" ng-click="enable = !enable; enableAddMarker(enable)">{{addMode}}</button> -->
    <button class="btn" 
    ng-class="{'btn-primary': !enable, 'btn-success': enable}"
    id="addMarker" ng-init="enable=false" ng-show="isAdmin" ng-click="enable = !enable; enableAddMarker(enable)">
        <span class="glyphicon" 
        ng-class="{'glyphicon-map-marker': !enable, 'glyphicon-ok': enable}"></span>
    </button>
    <!-- Slide button for court detail -->
    <button class="btn btn-primary slideBtn" slide-toggle="#detail" expanded="expanded" map="map" ng-model="expanded" 
    ng-show="currentcourt">
        <span class="glyphicon"
        ng-class="{'glyphicon-arrow-up': !expanded, 'glyphicon-arrow-down': expanded}"></span>
    </button>
    
    <div id="detail" class="court-detail slideable" ng-show="currentcourt">
        <div class="row">
            <div class="col-sm-3 picture-area">
                <!-- Court name -->
                <img src="../assets/images/court_pics/example.jpeg" alt="">
                <button ng-click="uploadmode()" ng-model="upload" 
                ng-show="currentcourt">
                    <span class="glyphicon glyphicon-camera"></span>
                </button>
                <div id="uploadPic" class="editPage col-lg-12" 
                ng-include="'app/courts/temp/upload.page.html'" 
                ng-init="upload=false" ng-show="upload" 
                ng-click="uploadmode()"
                ></div>
                
            </div>
            <div class="col-sm-3">
                <!-- City -->
                <h2>{{markernow.title}}</h2>
                <!-- <h2>{{currentcourt.city}}&nbsp
                <span ng-show="currentcourt.district">{{currentcourt.district}}區</span> -->
                </h2>
                <!-- Hours -->
                <p>開放時間:</p>
                <div ng-repeat="courthour in currentcourt.hours track by $index">
                    <p ng-show="courthour">
                        {{courthour.begin}}~{{courthour.end}}
                    </p>
                </div>
                 <!-- Peaktime -->
                <p>尖峰:</p>
                <div ng-repeat="courthour in currentcourt.peaktime track by $index">
                    <p ng-show="courthour">
                        {{courthour.begin}}~{{courthour.end}}
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- Indoor -->
                <h2>球場情報</h2>
                <div class="col-sm-6">
                    <p ng-show="currentcourt.indoor">室內</p>
                    <p ng-show="!currentcourt.indoor">室外</p>
                    <!-- Net -->
                    <p>籃網:{{currentcourt.net | exist}}</p>
                    <!-- Basket number -->
                    <p>籃框數:{{currentcourt.basketnumber}}</p>
                    <!-- Floor -->
                    <p>地質:{{currentcourt.floor}}</p>
                </div>
                <div class="col-sm-6">
                    <p>屋簷:{{currentcourt.ceiling | exist}}</p>
                    <!-- Water -->
                    <p>飲水機:{{currentcourt.water.exist | exist}}&nbsp{{currentcourt.water.desc}}</p>
                    <p>廁所:{{currentcourt.toilet.exist | exist}}&nbsp{{currentcourt.toilet.desc}}</p>
                </div>
            </div>
            <div class="col-sm-3">
                <h2>管理員留言</h2>
                <p>{{markernow.content}}</p>
                <!--Edit button-->
                <!-- <button class="btn-warning editDetailButton"
                ng-click="editmode()" ng-model="edit" 
                ng-show="currentcourt">
                編輯細節</button> -->
                <button class="btn-warning editDetailButton"
                ng-click="editmode()" ng-model="edit" 
                ng-show="currentcourt"><span class="glyphicon glyphicon-pencil"></span></button>
                <!--Edit page-->
                <div id="courtEditPage" class="editPage col-lg-12" 
                ng-include="'app/courts/temp/edit.page.html'" 
                ng-init="edit=false" ng-show="edit" 
                ng-click="editmode()"></div>
            </div>
        </div>
    </div>
</div>